@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
:root {
  --primary-color: #887bb0;
  --background: #06030f;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  background: #fff;
  font-family: "Nunito";
  overflow-x: hidden;
}
::selection {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.13);
}
.top-nav {
  height: 40px;
  width: 100%;
  background: var(--background);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 13px;
  box-sizing: border-box;
}
.top-nav .time {
  width: 200px;
}
.top-nav-right {
  display: flex;
  width: 320px;
  justify-content: space-between;
}
.top-nav-right a {
  color: white;
  height: 100%;
}
.top-nav-right a:hover {
  color: var(--primary-color);
}
.nav-social-icons a {
  padding: 0 7px;
}
.bottom-nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 0 3px gray;
  z-index: 9999;
}
.nav-items {
  display: flex;
  justify-content: space-around;
  width: calc(100% - 200px);
  font-size: 14px;
  position: relative;
}
.nav-items a {
  position: relative;
  display: block;
}
.nav-items a .nav-links {
  position: relative;
  color: black;
  text-transform: uppercase;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.nav-items .nav-links::after {
  content: "";
  height: 4px;
  width: 0%;
  position: absolute;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  transition: 0.2s;
  border-radius: 99px;
}
.nav-items .nav-items-container:hover .nav-links {
  color: var(--primary-color);
}
.nav-items .nav-items-container:hover .nav-links::after {
  color: var(--primary-color);
  width: 100%;
}
.nav-items a .active {
  color: var(--primary-color);
  font-weight: 600;
}
.nav-items a .active::after {
  width: 100%;
}
.hover-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: white;
  border-bottom: 4px solid var(--primary-color);
  min-width: 150px;
  padding-top: 5px;
}
.nav-items-container:hover .hover-dropdown {
  display: flex;
}
.hover-dropdown a {
  color: black;
  padding: 10px 15px;
  text-align: center;
}
.hover-dropdown a:hover {
  color: var(--primary-color);
}
.fa-chevron-down {
  padding: 0 5px;
  font-weight: lighter;
}
.search-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}
.search-icon:hover {
  color: var(--primary-color);
}
.nav-search {
  position: absolute;
  top: 70px;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  right: 0;
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 15px;
}
.nav-search input {
  background: white;
  height: 35px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}
.nav-search select {
  height: 35px;
  cursor: pointer;
}
.nav-search button {
  height: 35px;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  padding: 0 10px;
  color: #fff;
  border-radius: 8px;
}
.nav-search button:hover {
  background-color: #2d283a;
}

.nav-search input[type="text"] {
  width: 200px;
  padding-left: 10px;
}
.landing {
  min-height: calc(100vh - 100px);
  background: url("../images/bgmain.jpg"),
    linear-gradient(to right, #000000, transparent);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
}
.landing p {
  font-size: 18px;
}
.landing h1 {
  font-size: 50px;
}
.landing a {
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s linear;
}
.landing div {
  margin: 30px 10px;
}
.landing a:hover {
  background: #564d6e;
}
.main {
  display: flex;
  margin-top: 30px;
}
.main a {
  color: black;
}
.main-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.596);
  max-width: calc(100% - 500px);
}
.main-section h1 {
  padding: 15px 0;
}
.what-we-offer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-section .card {
  width: 400px;
  height: 200px;
  background: white;
  border: 0.1px solid rgba(128, 128, 128, 0.383);
  display: flex;
  transition: 0.4s;
  min-width: 35px;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}
.main-section .card:hover {
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.45);
  z-index: 9;
  transform: scale(1.002);
}
.main-section .card:hover .card-icon {
  color: black;
}
.card-icon {
  width: 200px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-icon i {
  padding: 0 20px 20px 0;
  border-right: 1px solid var(--primary-color);
}
.books-header {
  margin: 30px 5px;
  border-bottom: 1px solid var(--primary-color);
}

.books-container {
  display: flex;
  margin: 30px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.book {
  height: 300px;
  max-height: 300px;
  width: 40%;
  min-width: 350px;
  margin: 20px;
  box-shadow: 0 0 8px rgba(128, 128, 128, 0.335);
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
}
.book-details-cont {
  display: flex;
  overflow: hidden;
  height: 95%;
}
.book-details {
  width: 50%;
  min-width: 175px;
}
.book-author {
  font-weight: bold;
  padding: 10px 0;
}
.book-image {
  width: 50%;
  min-width: 175px;
  display: flex;
  align-items: center;
}
.book-image img {
  width: 75%;
  height: auto;
  transition: 0.5s;
}
.learn-more {
  padding: 8px;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: var(--primary-color);
  left: 50px;
}
.learn-more::before {
  content: "";
  display: block;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s linear;
  background: var(--background);
  z-index: -1;
}
.learn-more a {
  color: #fff;
  z-index: 2;
  padding: 10px;
}
.learn-more:hover::before {
  width: 100%;
}
.book-side {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(128, 128, 128, 0.459);
}
.book-side::before {
  content: "";
  display: block;
  width: 100%;
  transition: 0.3s linear;
  background: var(--primary-color);
  height: 0%;
}
.book:hover .book-side::before {
  height: 100%;
}

.side {
  width: 600px;
  padding: 0 20px;
  box-sizing: border-box;
}

.top-materials,
.review-container {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.596);
}
.review-container {
  margin-top: 25px;
}
.review-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-materials {
  display: flex;
  flex-direction: column;
}
.top-materials a {
  color: var(--primary-color);
  padding: 5px;
  border: 1px solid var(--primary-color);
  margin: 7px 0;
  border-radius: 999px;
}
.top-materials a:hover {
  color: #2d283a;
  border-color: #2d283a;
}
.review {
  display: flex;
  margin: 15px 0;
  border-radius: 8px;
  font-size: 14px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
}
.review .image {
  width: 200px;
  display: flex;
  align-items: center;
}
.review .image img {
  width: 95%;
  height: auto;
}
.reviewer-name {
  font-weight: bold;
  color: var(--primary-color);
}
.article-section {
  padding: 30px;
  box-sizing: border-box;
}
.article-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.article {
  width: 45%;
  margin: 15px 0;
  box-shadow: 0 0 4px rgba(128, 128, 128, 0.527);
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
}
.article-top {
  display: flex;
  height: 250px;
}
.article-image {
  width: 50%;
  display: flex;
  align-items: center;
}
.article-image img {
  width: 100%;
  height: auto;
}
.article-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.article-bottom {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  position: relative;
}
.article-bottom a {
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 0;
  transform: translateY(20%);
}
.footer {
  background: var(--background);
  color: #fff;
  margin-top: 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.footer a {
  color: #9d8cce;
}
.footer a:hover {
  color: #fff;
}
.top-tags {
  margin-top: 15px;
}
.top-tags-header,
.footer-bottom-header {
  color: white;
  padding: 5px;
  width: 150px;
  border-bottom: 3px solid var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
}
.tag-list {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.top-tags a {
  padding: 4px;
  background: #333;
  border-radius: 4px;
  color: #fff;
  margin: 5px;
}
.top-tags a:hover {
  background: var(--primary-color);
}
.footer-list {
  margin-right: 15px;
}
.footer-list li {
  margin-left: 20px;
}
.footer-bottom {
  display: flex;
  margin: 15px 0;
}
.footer-bottom-content {
  margin-top: 15px;
}
hr {
  border: none;
  border-bottom: 1px solid var(--primary-color);
}
.q-links {
  display: flex;
  justify-content: space-around;
}
.q-links a {
  padding: 0 12px;
}
.follow-us {
  width: 350px;
  min-width: 300px;
}
.follow-us .footer-bottom-content {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.mail-subscribe {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail-subscribe h2 {
  line-height: 200%;
}
.mail-subscribe p {
  line-height: 200%;
}
.mail-subscribe form input {
  border: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  padding-left: 15px;
  box-sizing: border-box;
}
.mail-subscribe form {
  border: none;
  display: flex;
}
.mail-subscribe form button {
  border: none;
  height: 40px;
  padding: 0 15px;
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 10px;
}
.mail-subscribe form button:hover {
  background: #2d283a;
}
.copyright {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
@media screen and (max-width: 1000px) {
  .nav-items {
    display: none;
  }
  .main {
    flex-direction: column;
  }
  .main-section {
    min-width: 95vw;
    margin: 0 auto;
    width: 100%;
  }
  .main-section .card {
    width: 80%;
    min-width: 340px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
  }
  .side {
    width: 90vw;
    padding: 0;
    margin: 20px auto;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .mail-subscribe form {
    flex-direction: column;
  }
  .mail-subscribe form button {
    margin: 10px 0;
  }
  .mail-subscribe h2 {
    line-height: 100%;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
  }
  .q-links {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .nav-social-icons {
    display: none;
  }
  .top-nav-right {
    width: 100px;
  }
  .nav-search {
    font-size: 14px;
  }
  .nav-search input[type="text"] {
    width: 180px;
    padding-left: 10px;
    margin-left: 5px;
  }
  .bottom-nav {
    height: 50px;
  }
  .nav-search {
    top: 50px;
  }
}
